<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="test.dao.MajorDAO">
   <resultMap id="majorMap" type="test.entity.Major">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"></id>
        <result property="name" column="NAME" javaType="java.lang.String" jdbcType="VARCHAR"></result>
        <result property="createTime" column="CREATE_TIME" javaType="java.util.Date" jdbcType="DATE"></result>
        <result property="description" column="DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR"></result>
    	<result property="delete" column="IS_DELETE" javaType="java.lang.Integer" jdbcType="INTEGER"></result>
    	<result property="updateTime" column="UPDATE_TIME" javaType="java.util.Date" jdbcType="DATE"></result>
    </resultMap>
    
  	 <!--select查询语句-->
    <select id="getMajorList" resultType="test.dao.MajorDAO" resultMap="majorMap">
    	select id, name, create_time, description, update_time from major where is_delete = 0 order by id desc;
    </select>
    <select id="getMajorById" resultType="test.dao.MajorDAO" resultMap="majorMap">
    	select id, name, create_time, description, update_time from major where id = #{id};
    </select>
    <select id="findMajorsByName" parameterType="String" resultType="test.dao.MajorDAO" resultMap="majorMap">
        select id, name, create_time, description, update_time from major where is_delete = 0 and name like "%"#{name}"%" order by id desc
    </select>
    <!--insert插入语句-->
    <insert id="addMajor" parameterType="test.dao.MajorDAO" keyProperty="id">
    	INSERT INTO major(NAME,CREATE_TIME,DESCRIPTION, UPDATE_TIME)
    	VALUES(#{name},#{createTime},#{description}, SYSDATE())
    </insert>
	<!--update更新语句-->
	<update id="updateMajor" parameterType="test.dao.MajorDAO">
    	UPDATE  major set NAME=#{name},CREATE_TIME=#{createTime}, DESCRIPTION=#{description}, UPDATE_TIME=SYSDATE()
    	WHERE id=#{id}
    </update>
    <!--delete删除语句,此处为假删除-->
    <delete id="deleteMajorById" parameterType="Long">
    	UPDATE  major set IS_DELETE=1, UPDATE_TIME=SYSDATE()
    	WHERE id=#{id}
    </delete>
</mapper>
